body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.boxBoy {
    width: 180px;
    text-align: center;
    margin: auto;
}

img {
    width: 150px;
    height: auto;
    cursor: pointer;
}

@keyframes swing {
    0%, 100% { transform: rotate(0); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
}

.nervous {
    animation: swing 0.15s ease-in-out 2;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20% { transform: translateX(-30px); }
    40% { transform: translateX(30px); }
    60% { transform: translateX(-30px); }
    80% { transform: translateX(30px); }
}

.happy {
    animation: shake 1s ease-in-out 2;
}
