body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

div h1 {
    text-align: center;
    color: black;
    font: arial bold;
    text-shadow: yellow 1.5px 1.5px;
}

p {
    margin: 0;
    color: red;
    text-align: left;
}

.form-container label {
    color: darkblue;
    font-weight: bold;
}

.form-container  user-form {
    display: flex;
    text-align: left;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aguarde-container, .vehicle-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: inline-block;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(0.9);
}

.slideshow img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.slideshow p {
    margin: 10px 0;
    font-size: 14px;
    color: black;
}