<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <title>Login</title>
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <form method="POST" action="/login/entrar">
        <label for="usuario">Usuário</label>
        <input type="text" id="usuario" name="usuario" required placeholder="Digite seu usuário">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" required placeholder="Digite sua senha">
        <button type="submit" id="btnLogin">Entrar</button>

        <p th:if="${mensagem}" th:text="${mensagem}" class="mensagem" role="alert"></p>
    </form>
    <p>
        <a href="/login/telaNovoUsuario" class="signup-link">Ainda não tem cadastro? Clique aqui para se cadastrar.</a>
    </p>
</div>
</body>
</html>