* {
    box-sizing: border-box;
  }
  
  .custom-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26,35,126,0.95);
    border: 10px solid #1A237E;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 5px 5px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-alert .custom-alert-content {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  
  .custom-alert .custom-alert-content p {
    color: white;
    font-size: 16px !important;
    margin: 25px;
    line-height: 2em;
  }
  
  .custom-alert .custom-alert-content button {
    font-size: 14px;
    width: 50%;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    margin: 20px 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #FF5722;
    color: white;
    border: none;
    text-shadow: 1px 1px 1px black;
    outline: none;
  }
  
  .custom-alert .custom-button:hover {
    background-color: #555;
    color: white;
  }
  
  .custom-alert img {
    width: 80px;
    margin: 10px 0 30px 0;
    animation-name: moveImg;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes moveImg {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
  
  @media screen and (min-width: 768px) {
    .custom-alert .custom-alert-content p {
      font-size: 40px !important;
    }
    .custom-alert .custom-alert-content button {
      font-size: 18px;
      width: 200px;
      padding: 20px;
    }
    .custom-alert img {
      width: 150px;
    }
  }
  