body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.menuInterativo {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease;
}

.menu-opcao {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.menu-opcao:hover {
    background-color: #ddd;
    width: 150px;
    transform: translateX(50px);
}

.menu-opcao:nth-child(1) {
    background-color: lightblue;
}

.menu-opcao:nth-child(2) {
    background-color: yellow;
}

.menu-opcao:nth-child(3) {
    background-color: lightpink;
}

.menu-opcao:nth-child(4) {
    background-color: lightgreen;
}

.menu-opcao:nth-child(5) {
    background-color: red;
}