<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h2>Welcome Users !!!</h2>
    </div>
    <div>
        <table>
            <thead>
            <td>Id</td>
            <td>Name</td>
            <td>City</td>
            </thead>
            <tbody>
            <c:forEach items="${userList}" var="user">
                <c:if test = "${user.city != 'Delhi'}">
                    <tr>
                        <td>${user.id}</td>
                        <td>${user.name}</td>
                        <td>${user.city}</td>
                    </tr>
                </c:if>
            </c:forEach>
            </tbody>
        </table>
    </div>
</body>
</html>