body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: black;
}

.input-group {
    margin-bottom: 20px;
}

textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    background: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.item {
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
}

.item:last-child {
    border-bottom: none;
}
