@font-face {
    font-family: "Press Start 2P";
    src: url(Fonts/PressStart2P-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Press Start 2P", system-ui;
}

ul{
    list-style: none;
    padding-left: 0px;
    background-color: black;
}
li {
    display: inline-block;
}

a:link, a:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

a:hover {
    background-color: white;
    color: black;
}