<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cursos</title>
</head>
<body>
    <h1>Lista de Cursos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sigla</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="curso : ${cursos}">
                <td th:text="${curso.id}"></td>
                <td th:text="${curso.nomeCurso}"></td>
                <td th:text="${curso.siglaCurso}"></td>
                <td th:text="${curso.tipoCurso}"></td>
                <td>
                    <a th:href="@{'/curso/editar/' + ${curso.id}}">Editar</a>
                    <a th:href="@{'/curso/deletar/' + ${curso.id}}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/aluno/list">Ver Alunos</a>
    <a href="/disciplina/list">Ver Disciplinas</a>
</body>
</html>